{% extends "nav.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}

<!-- Content section -->
<div class=" container jumbotron">
    <div class="container row border border-success">
        <div class="col img-responsive">
            <h2>USA - Drug Review Data Analysis and Sentment Prediction</h2>
            <hr>
            <img class="img-fluid float-left" src=" {{ url_for('static', filename='img/drugs.jpg') }}" width="250" height="250">
            <br>
            <p class="text-justify">
                About this project!      
            </p>
               <br>
              <p class="text-justify">
                Given the importance of proper drugs to cure medical health our team set out to use machine learning and natural language processing in an attempt to identify sentiment from the review and rating provided by the user for various medicine.
              </p>        
            <br>
          </div>
      <div class="col img-responsive">
          <h2>Analysis</h2>
<!-- beginning of carousal -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <a href="/"><img src="{{ url_for('static', filename='img/dash.gif') }}" class="d-block w-100" alt="..."></a>
          <br>
          <h5>A Dashboard for Drug stats</h5>
        <p>Need to add text here</p>
      </div>
      <div class="carousel-item">
          <a href="/"><img src="{{ url_for('static', filename='img/allDrugs.gif') }}" class="d-block w-100" alt="..."></a>
          <br>
          <h5>All drugs with with their conditions</h5>
          <p>A text has to come here.</p>
      </div>
      <div class="carousel-item">
        <a href="/"><img src="{{ url_for('static', filename='img/ratingDist.gif') }}" class="d-block w-100" alt="..."></a>
        <h5>Distribution of user rating</h5>
        <br>
        <p>A text needs to be added here.</p>
      </div>
      <div class="carousel-item">
        <a href="/"><img src="{{ url_for('static', filename='img/reviewLength.gif') }}" class="d-block w-100" alt="..."></a>
        <br>
        <h5>Yearly Drug </h5>
        <p>A text needs to be added here.</p>
      </div>
      <div class="carousel-item">
            <a href="/"><img src="{{ url_for('static', filename='img/yearlyDrug.gif') }}" class="d-block w-100" alt="..."></a>
            <br>
            <h5>Yearly trend in Drug Reviews</h5>
        <p>A text needs to be added here</p>
      </div>
      <div class="carousel-item">
                <a href="/"><img src="{{ url_for('static', filename='img/confusion.png') }}" class="d-block w-100" alt="..."></a>
                <br>
                <h5>Confusion Matrix</h5>
        <p>A text needs to come here</p>
      </div>
      <div class="carousel-item">
        <a href="/"><img src="{{ url_for('static', filename='img/word_cloud_happy.png') }}" class="d-block w-100" alt="..."></a>
        <br>
        <h5>Word Cloud - Happy</h5>
        <p>A text needs to come here</p>
      </div>
      <div class="carousel-item">
        <a href="/"><img src="{{ url_for('static', filename='img/word_cloud_sad.png') }}" class="d-block w-100" alt="..."></a>
        <br>
        <h5>Word Cloud - Sad</h5>
        <p>A text needs to come here</p>
      </div>
    </div>
</div>

  <!-- end of carousal   -->
</div>
</div>
<p class="card-text text-dark"><marquee direction="left">Fortune 500 companies represent two-thirds of the U.S. GDP with $13.7 trillion in revenues, $1.1 trillion in profits, $22.6 trillion in market value, and employ 28.7 million people worldwide.<a href="https://fortune.com/fortune500/">(Read More..)</a></marquee></p>
</div>

<!-- Styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

{% endblock %}